extends ./layout/plantilla.pug
block slider
  .slider
    h1 Rio de Janeiro
    em aventura
block contenido 
  main.container.mt-5 
    h2.text-center.mb-5  Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima neque laborum inventore doloremque nihil accusamus corrupti impedit recusandae. Doloremque assumenda, temporibus molestias atque repellat porro nemo aliquid eos impedit libero.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos, aspernatur praesentium ipsum voluptates provident nihil, maiores excepturi dolorum suscipit, explicabo accusantium soluta ipsa dolor perferendis neque tenetur exercitationem beatae?
      .col-md-6
        img(src="img/inicio_nosotros.jpg", alt="inicio")
    
    include ./layout/bloqueviajes
  .descuento 
    .container 
      .row 
        .col-md-6
          .contenido
            h3 5% de Descuento 
            p.titulo Viaje a Canada
            p.fecha 20 de Marzo de 2024
            p.precio $2,500 USD
  .container 
  h2.mt-5.text-center Testimoniales
   
    .row.testimoniales
      each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
          .card
            .card-body
              blockquote.blockquote
              p.mb-0
                | #{testimonial.mensaje}
              footer.blockquote-footer
                | #{testimonial.nombre}