extends ./layout/plantilla.pug

block contenido 
  main.container.mt-5 
    .row
      .col-md-5
        img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1= pagina

        blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quis eum dicta nulla repellat rem nobis ad at, magnam unde earum incidunt facilis officia aliquid distinctio! Voluptatibus saepe temporibus veritatis.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste harum voluptatibus molestiae tempora magni eveniet aliquid nemo earum voluptatum possimus distinctio, quaerat iusto autem dolores atque ratione porro culpa.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, rem, et hic cum officia blanditiis asperiores debitis velit praesentium molestias voluptates illum. Saepe nisi recusandae corrupti molestias delectus, consectetur enim!
  
  div.listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="/img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. A beatae soluta hic. Delectus fugiat mollitia eveniet repellat accusamus dolorum cupiditate odit soluta natus eaque numquam, ipsum dignissimos necessitatibus amet beatae? 

        .col-md-4
          img(src="/img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
          h2.mb-4 Destinos
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. A beatae soluta hic. Delectus fugiat mollitia eveniet repellat accusamus dolorum cupiditate odit soluta natus eaque numquam, ipsum dignissimos necessitatibus amet beatae? 
        
        .col-md-4
          img(src="/img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
          h2.mb-4 Precios
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. A beatae soluta hic. Delectus fugiat mollitia eveniet repellat accusamus dolorum cupiditate odit soluta natus eaque numquam, ipsum dignissimos necessitatibus amet beatae? 