extends ./layout/plantilla

block contenido 
  main.container.mt-5 
    .row
      .col-md-5
        img(src=`/img/destinos_${respuesta.imagen}_ln.jpg`, alt=`imagen ${respuesta.titulo}`, class="img-fluid")
      .col-md-7
        h1= respuesta.titulo

        blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quis eum dicta nulla repellat rem nobis ad at, magnam unde earum incidunt facilis officia aliquid distinctio! Voluptatibus saepe temporibus veritatis.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste harum voluptatibus molestiae tempora magni eveniet aliquid nemo earum voluptatum possimus distinctio, quaerat iusto autem dolores atque ratione porro culpa.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, rem, et hic cum officia blanditiis asperiores debitis velit praesentium molestias voluptates illum. Saepe nisi recusandae corrupti molestias delectus, consectetur enim!
  
